{% extends 'users/base.html' %}
{% load mathfilters %}
{% load static %}
{% block body %}

    <div class="flex mt-5 p-10 justify-center">
    <h2 class="text-3xl font-normal mb-2 text-gray-500">My Posts</h2>
    </div>

    <div class="grid mx-60 p-10 grid-cols-1">
        {% for post in posts %}
            <! -- card start here -->
            <a href="#">
                <div class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
                    <div class="user-container flex mx-5 my-5">
                        <img class="h-10 w-10 rounded-full" src="{{ post.user.profile.photo.url }}">
                        <div class="mx-2 my-2">
                            <span class="font-bold text-indigo-500">{{ post.user }}</span>
                        </div>
                    </div>
                    <img src="{{ post.image.url }}">
                </div>

                <div class="px-6 py-4 h-20 w-20">
                    <div class="icon-container flex gap-3">
                        <a id="{{ post.id }}" class="btn-like flex-none">
                            {% if logged_user in post.liked_by.all %}
                                <img class="w-5 h-5" src="{% static 'users/images/red_heart.png' %}">
                            {% else %}
                                <img class="w-5 h-5" src="{% static 'users/images/heart.png' %}">
                            {% endif %}
                        </a>
                        <img class="w-5 h-5" src="{% static 'users/images/comment.png' %}">
                        <img class="w-5 h-5" src="{% static 'users/images/share.png' %}">
                    </div>
                </div>
            <div>
                {% if post.liked_by.count < 1 %}
                {% elif post.liked_by.count == 1 %}
                {{ post.liked_by.first }} Likes This
                {% elif post.liked_by.count > 1 %}
                {{ post.liked_by.first }} & {{ post.liked_by.count|sub:1 }} Other Like This
                {% endif %}
            </div>
                <div>
                    <div class="px-6 py-4">
                        <div class="font-bold text-xm mb-2">{{ post.title }}</div>
                        <p class="text-gray-700 text-base">{{ post.caption }}</p>
                    </div>
                </div>
            <div class="px-5 py-5">
                {%  for comment in post.comments.all %}
                    <b>{{ comment.posted_by }}</b>:{{ comment.body }}
                    <br>
                    {%  endfor %}
            </div>

            <div class="px-5 py-5">
                <form method="POST" class="bg-white rounded">
                    {% csrf_token %}
                    <div class="flex">
                    <div class="border rounded mr-10 text-gray-700">
                        {{ comment_form.body }}
                    </div>

                        <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
                        <input type="hidden" name="posted_by" id="posted_by" value="{{ logged_user }}">
                        <button class="bg-green-500 text-white px-5 py-2" type="submit">Add</button>
                        </div>

                </form>
            </div>

            </a>
            <! -- card ends here -->
        {% endfor %}
    </div>

    <script type="text/javascript">
    // console.log('This is working');
    window.CSRF_TOKEN = "{{ csrf_token }}"
    $(document).on('click','.btn-like', function(){
       var post_id = this.id
        $.ajax({
            method:"POST",
            url:'/posts/like',
            data:{post_id:post_id,csrfmiddlewaretoken:window.CSRF_TOKEN}
        })
    })
    </script>
{% endblock %}